.k-listview {
    font-family: sans-serif;
    width: 400px;
    margin: auto;
  }
  .header,
  .footer {
    color: #a0a0a0;
    font-size: 16px;
    padding: 6px 10px;
  }
  .footer {
    font-size: 14px;
  }
  .tasks {
    width: 100%;
  }