<kendo-listview
  [data]="tasks.tasks"
  index="index"
  containerClass="k-d-flex k-flex-col k-flex-nowrap"
>
  <ng-template kendoListViewHeaderTemplate>
    <div class="header">Task List</div>
  </ng-template>
  <ng-template
    kendoListViewItemTemplate
    let-dataItem="dataItem"
    let-index="index"
    let-isFirst="isFirst"
  >
    <data-card
      class="tasks"
      [userid]="user"
      [data]="dataItem"
      [dataIndex]="index"
      [borderTop]="!isFirst"
      (dataChange)="onChange($event)"
    >
    </data-card>
  </ng-template>
  <ng-template kendoListViewFooterTemplate>
    <div class="footer">Total Tasks:{{ tasks.tasks.length }}</div>
  </ng-template>
</kendo-listview>
